# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências
node_modules/

# Builds
dist/
dist-ssr/
build/
out/
*.dll
*.exe

# Arquivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Caches e arquivos temporários
*.cache
*.tmp

# Diretórios de editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Arquivos do sistema operacional
Thumbs.db
desktop.ini

# Diretórios específicos do projeto
todo-app/
coverage/